.btn-primary {
    color: #fff !important;
    background-color: #202844 !important;
    border-color: #202844 !important;
}

a, p, label, button, .rt-td, .sc-AykKF, .sc-AykKG {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
